.section-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  h6 {
    padding: 0 8px;
  }
}

.filterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 65px);
}

.borderTopGray200 {
  border-top: 1px solid #C0C2C1;
}
