/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css'; // for snack bar
@import "./scss/utils/mixins";


.pointer-cursor {
  cursor: pointer;
}

.mat-drawer-container {
  background-color: white;
}

//hide extra space below search input field
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.form-control:focus {
  box-shadow: none;
}

.custom-form-field {
  /* Remove extra padding from Material */
  padding: 0;
}

.borderBottomGray200 {
  border-bottom: 1px solid #C0C2C1;
}


.flexBetween {
  @include flexProperties(start, space-between);
}


//General Skeleton style
.skeletonGeneral {
  .loader {
    height: 100% !important;
    margin-bottom: 0 !important;
    background-color: #EAEAE2 !important;

    &.progress {
      &::before {
        animation: skeletonProgress 1.4s ease-in-out infinite !important;
        //Used Hue Gray 100 RGBA for gradiant
        background-image: linear-gradient(90deg, rgba(246, 246, 243, 0), rgba(246, 246, 243, .6), rgba(246, 246, 243, 0)) !important;
      }
    }
  }

  //General Button
  &.btnGeneralSkeleton {
    //Btn  General Skeleton
    width: 100%;

    .loader {
      margin-bottom: 0 !important;
      border-radius: 60px !important;
    }

    //Chip btn
    &.chipBtnGeneralSkeleton {
      width: 60px;
      display: inline-block;
      height: 32px !important;

      .loader {
        width: inherit;
        margin: 4px;
      }
    }

    &.chipLargeBtnGeneralSkeleton {
      width: 102px;
      display: inline-block;
      height: 48px !important;

      .loader {
        width: inherit;
        //margin: 4px;
      }
    }

    &.height32 {
      height: 32px !important;
    }

    //Btn  Small Skeleton
    &.btnSmallGeneralSkeleton {
      width: 100%;
      display: inline-block;
      height: 36px !important;
    }

    //Btn  Medium Skeleton
    &.btnMediumGeneralSkeleton {
      display: inline-block;
      height: 36px !important;

      .loader {
        width: calc(100% / 3 - 8px);
        margin: 4px;
      }
    }

    //Btn  Large Skeleton
    &.btnLargeGeneralSkeleton {
      width: 100%;
      height: 48px;
      display: block;
    }
  }

  //General Text
  &.titleGeneralSkeleton {
    width: 60%;
    height: 32px;
    display: block;

    &.fullWidthTitleSkeleton {
      width: 100%;
    }

    &.height56 {
      height: 56px;
    }

    &.height68 {
      height: 68px;
    }
  }

  //General Subtitle
  &.subTitleGeneralSkeleton {
    width: 70%;
    height: 24px;
    display: block;
  }

  //General Text or List Items
  &.textGeneralSkeleton {
    height: 24px;
    display: block;
  }

  &.width25 {
    width: 25% !important;
  }

  &.width35 {
    width: 35% !important;
  }


  &.width60 {
    width: 60% !important;
  }

  &.width80 {
    width: 80% !important;
  }

  //General Card
  &.cardGeneralSkeleton {
    width: 100%;
    height: 144px;
    display: block;
  }

}


@keyframes skeletonProgress {
  0% {
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    transform: translate3d(calc(200px + 100vw), 0, 0);
  }
}


